footer#footer
  div.container-fluid.row
    div.footer-header.col-12
      h1 Contact <br>us.
      hr
      p  123A Building, Road Street, Orlando District, US <br> +01 234 567 89 - +01 234 567 89 | contact@book.com
      div.footer-icon
        i(class="fab fa-twitter")
        i(class="fab fa-facebook-f") 
        i(class="fab fa-google-plus-g")
        i(class="fab fa-pinterest-p")
        i(class="fab fa-instagram")
        i(class="fab fa-youtube")
        i(class="fab fa-skype")
        i(class="fab fa-tennis-ball")

    div.col-lg-12.form
        form.siteForm.row
          div.formdiv.col-lg-8
            div.row
              input(type="text" name="name" placeholder="Your Name" class="col-lg-4")
              input(type="text" name="email" placeholder="Your Email" class="col-lg-4")     
              textarea(name="message" rows="4" cols="100" class="col-lg-9" placeholder="Massage")
          div.text-center.col-lg-4.sendMessagebtn
            button.sendMessage.btn 
              i(class="fas fa-check-circle") Submit
    
    
    div.copyright.col-12.text-center
      h2 IDDO
      p © 2014 IDDO. All rights resevered.<br>Designed by DZOAN.
      a(href="#")
        i(class="fas fa-chevron-up up-home")
      
      
