section#icons
  div.container-fluid.row
    div.icon.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="icon-class") 
        i(class="fas fa-lamp") 
    div.icon.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="icon-class") 
        i(class="fas fa-globe-europe") 
    div.icon.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="icon-class") 
        i(class="fas fa-camera-retro") 
    div.icon.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="icon-class") 
        i(class="fas fa-wrench") 
    div.icon.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="icon-class") 
        i(class="fas fa-microphone") 
    div.icon.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="icon-class") 
        i(class="fas fa-money-bill-alt")
