section#logos
  div.container-fluid.row
    div.logo.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="logo-class") 
        img(src="dist/image/logo1.png")
    div.logo.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="logo-class") 
        img(src="dist/image/logo2.png")
    div.logo.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="logo-class") 
        img(src="dist/image/logo3.png") 
    div.logo.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="logo-class") 
        img(src="dist/image/logo1.png")
    div.logo.col-lg-2.col-md-2.col-sm-2.col-xs-6
      a(href="#" class="logo-class") 
        img(src="dist/image/logo2.png")
