section#ourSkills
  div.container-fluid.row
    div.col-lg-12.left
      h1 OUR SKILLS.
      hr.line
    div.col-lg-8.skills-item
      div(class="row progserCircle")
        figure(class="col-md-3 col-sm-3 text-center")
          div(class="chart" id="graph1" data-percent="75" data-color="#42b8dd")
        figure(class="col-md-3 col-sm-3 text-center")
          div(class="chart" id="graph2" data-percent="25" data-color="#42b8dd")
        figure(class="col-md-3 col-sm-3 text-center")
          div(class="chart" id="graph3" data-percent="75" data-color="#42b8dd")
        figure(class="col-md-3 col-sm-3 text-center")
          div(class="chart" id="graph4" data-percent="50" data-color="#42b8dd")
      
      div.skills-desc
        h4 SOMETHING ABOUT OUR SKILLS
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore <br> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <br> consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br> Excepteur sint occaecat cupidatat non proident.
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem <br> aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.
