section#team
  div.container-fluid.row
    div.col-lg-12.text-center.team-header
       h1 OUR TEAM.
       hr.line

    div.team-body.col-lg-12.text-center
         div.team-body-items.row.text-center
           div.team-body-item.col-lg-4.text-center.col-md-6
             div.team-image.text-center
               a(href="")
                 img(src="dist/image/avatar@1X.png" class="team-image")
               div.icon
                 i(class="fab fa-twitter")
               div.icon.icon2
                 i(class="fab fa-facebook-f") 
               div.icon.icon3
                 i(class="fab fa-instagram")
             div.team-description
               h4  
                 a(href="") MICHAEL JOE
               h6 
                 a(href="") CEO / Marketing Guru
               p Lorem ipsum dolor sit amet, <br> consectetuer adipiscing elit,<br> sed diam nonummy nibh<br> euismod tincidunt ut laoreet<br> dolore magna.
         
           div.team-body-item.col-lg-4.text-center.col-md-6
             div.team-image.text-center
               a(href="")
                 img(src="dist/image/avatar@1X.png" class="team-image")
               div.icon
                 i(class="fab fa-twitter")
               div.icon.icon2
                 i(class="fab fa-facebook-f") 
               div.icon.icon3
                 i(class="fab fa-instagram")
             div.team-description
               h4  
                 a(href="") Designer
               h6 
                 a(href="") Creative Director
               p Lorem ipsum dolor sit amet, <br> consectetuer adipiscing elit,<br> sed diam nonummy nibh<br> euismod tincidunt ut laoreet<br> dolore magna.
                     
           div.team-body-item.col-lg-4.text-center.col-md-6
             div.team-image.text-center
               a(href="")
                 img(src="dist/image/avatar@1X.png" class="team-image")
               div.icon
                 i(class="fab fa-twitter")
               div.icon.icon2
                 i(class="fab fa-facebook-f") 
               div.icon.icon3
                 i(class="fab fa-instagram")
             div.team-description
               h4  
                 a(href="") OLIVIA WILDE
               h6 
                 a(href="") Manager
               p Lorem ipsum dolor sit amet, <br> consectetuer adipiscing elit,<br> sed diam nonummy nibh<br> euismod tincidunt ut laoreet<br> dolore magna.
    div.col-lg-12
      img(src="dist/image/add.png" class="add-image")  