//- start service 
section#service
  div.container-fluid.row
    div.col-lg-4.left
      h1 OUR SERVICES.
      hr.line
    div.feture.col-lg-4
      div.feture-icon
        img(src="dist/image/cloud-icon.png")
      div.feture-desc 
        h4 Feature 1
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      div.feture-icon
        img(src="dist/image/cloud-icon2.png")
      div.feture-desc 
        h4 Feature 2
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    div.feture.col-lg-4
      div.feture-icon
        img(src="dist/image/cloud-icon3.png")
      div.feture-desc 
        h4 Feature 3
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      div.feture-icon
          img(src="dist/image/cloud-icon4.png")
      div.feture-desc 
        h4 Feature 4
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          
