header#subscribe.text-center
  div.container-fluid.row
    div.col-lg-12
      input(type="email" placeholder="Enter your e-mail here..." class="subscribe-input")
      button(class="btn btn-outline-light subscribe") SUBSCRIBE
      
