section#works
  div.container-fluid.row
    div.col-lg-12.text-center.team-header
      h1 OUR Works.
      hr.line

    div.works-body.col-lg-12
        div.tab.col-lg-12
          button(class="tablinks" onclick="opencours(event, 'all')" id="defaultOpen") ALL
          button(class="tablinks" onclick="opencours(event, 'Websites')") Websites
          button(class="tablinks" onclick="opencours(event, 'Branding')") Branding
          
        div.works-body-items.row.text-center.tabcontent#all
          div.works-body-item.col-lg-4.col-md-12.text-center
            div.pic
              img(src="dist/image/all.png")
            div.workDesc
              h4 Name preject
              p designed by Authour | May 23, 2014

          div.works-body-item.col-lg-4.col-md-12.text-center
            div.pic
              img(src="dist/image/all.png")
            div.workDesc
              h4 Name preject
              p designed by Authour | May 23, 2014

          div.works-body-item.col-lg-4.col-md-12.text-center
            div.pic
              img(src="dist/image/all.png")
            div.workDesc
              h4 Name preject
              p designed by Authour | May 23, 2014

          div.works-body-item.col-lg-4.col-md-12.text-center
            div.pic
              img(src="dist/image/all.png")
            div.workDesc
              h4 Name preject
              p designed by Authour | May 23, 2014

          div.works-body-item.col-lg-4.col-md-12.text-center
            div.pic
              img(src="dist/image/all.png")
            div.workDesc
              h4 Name preject
              p designed by Authour | May 23, 2014

          div.works-body-item.col-lg-4.col-md-12.text-center
            div.pic
              img(src="dist/image/all.png")
            div.workDesc
              h4 Name preject
              p designed by Authour | May 23, 2014

    div.col-lg-12
      img(src="dist/image/add.png" class="add-image")  