section#workIcon
  div.container-fluid.row
    div.col-lg-3.work-icon.text-center.col-md-6
      img(src="dist/image/perspiciatis.png" class="work-image") 
      h1.work-number 2009
      h6.work-name  PERSPICIATIS
      
    div.col-lg-3.work-icon.text-center.col-md-6
      img(src="dist/image/comments.png" class="work-image") 
      h1.work-number 13,562
      h6.work-name  COMMENTS
        
    div.col-lg-3.work-icon.text-center.col-md-6
      img(src="dist/image/CoffeeCups.png" class="work-image") 
      h1.work-number 8,710
      h6.work-name  COFFEE CUPS
          
    div.col-lg-3.work-icon.text-center.col-md-6
      img(src="dist/image/Awards.png" class="work-image") 
      h1.work-number 715
      h6.work-name  AWARIDS
