%mainBuleColor {
  color: #42b8dd !important;
}
%borderBuleColor {
  border: 1px solid #42b8dd;
}
.nav-link:hover {
  @extend %mainBuleColor;
  text-decoration: underline;
}
.signup {
  @extend %mainBuleColor;
  @extend %borderBuleColor;
}
.cilck {
  @extend %mainBuleColor;
}
