#footer {
  background-color: #ebebeb;
  .container-fluid {
    width: 103%;
    .footer-header {
      width: 50%;
      padding: 88px;
      .footer-icon {
        .fab {
          margin-left: 10px;
        }
      }
      h1 {
        font-size: 88px;
        color: #363636;
        font-weight: 700;
        line-height: 55px;
      }
      p {
        color: #898989;
      }
      hr {
        color: #363636;
        background-color: #363636;
        height: 10px;
        width: 300px;
        margin-left: 0%;
      }
    }
    .copyright {
      background-color: #252525;
      padding: 2%;
      h2 {
        color: rgb(255, 255, 255);
      }
      p {
        color: #505050;
      }
    }
  }
}
.siteForm{
  padding-bottom: 120px;
  padding-left: 64px;
}
.input {
  margin-top: 20px;
}
.siteForm input {
  outline: none;
  border: 2px solid #363636;
  background-color: #ebebeb;
  color: #fff;
  padding-left: 2%;
  width: 49%;
  height: 50px;
  margin-left: 20px;
}
.fa-check-circle:before  {
  margin-right: 20px;
}
textarea {
  outline: none;
  border: 2px solid #363636;
  background-color: #ebebeb;
  color: #fff;
  padding-left: 2% !important;
  padding-top: 2% !important;
  width: 100% !important;
  margin-top: 10px;
  height: 100px;
  margin-left: 20px;
}
.sendMessage {
  padding: 5.5% 20%;
  background-color: #ffffff;
  font-weight: bold;
}

.sendMessage:hover {
  background-color: #fff;
  color: #30bae7;
}
.sendMessagebtn{
  margin-top: 90px;
  margin-left: -20%;
}
