// @import "bule-theme.scss";
.option-box{
	position: fixed;
	top: 100px;
	left: 0;
	z-index: 9999;
	cursor: pointer;
	.color-option{
		float: left;
		background: #333;
		color: #fff;
		padding: 10px;
		width: 150px;
    display: none;
	}
	.color-option ul li{
		width: 20px;
		height: 20px;
		background: #f00;
		display: inline-block
  }
	.gear-check{
		padding: 5px;
	}
}

#home {
	@media (min-width: 300px) and (max-width: 991px) and (width: 1024px) {
		width: 106%;
	}
  .container-fluid {
    background-color: rgb(0, 0, 0);
    padding: 0% 7%;
  }
  .navbar-toggler {
    left: 50%;
  }
  .header-contain  {
    background-color: #666666;
    height: 400px;
    padding: 10% 20%;
    img {
      float: left;
      padding-right: 50px;
    }
    p {
      font-size: 30px;
      font-weight: 100;
      color: rgb(255, 255, 255);
    }
    .firstp {
      margin-top: 26px;
    }
    .cilck {
      font-size: 15px;
    }
  }
}
.navbar-brand {
  h3 {
    color: rgb(255, 255, 255);
    @media (max-width: 991px) {
      float: right;
      margin-left: 20px;
    }
  }
  .navbar-toggler {
    background-color: rgb(255, 255, 255);
  }
}
.navbar-collapse {
  margin-left: 7%;
  .nav-item {
    margin-left: 13%;
    .nav-link {
      color: rgb(255, 255, 255);
      font-size: 16px;
    }
  }
}
.signup {
  color: blue;
  @media (max-width: 991px) {
    margin-left: 90%;
    margin-top: -57px;
  }
}
.navbar-light .navbar-nav .active>.nav-link {
	color: rgb(255, 255, 255) !important;
}
