#icons {
  @media (min-width: 300px) and (max-width: 991px) and (width: 1024px) {
		width: 106%;
	}
  .container-fluid {
    padding: 2% 8%;
    text-align: center;
    .icon {
      .icon-class {
        font-size: 35px !important;
      }
    }
  }
}
