
body {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
ul li {
  list-style: none;
}

@import './header.scss';
@import './service.scss';
@import './icons.scss';
@import './slider.scss';
@import './ourTeam.scss';
@import './workIcon.scss';
@import './ourSkills.scss';
@import './subscribe.scss';
@import './logos.scss';
@import './footer.scss';
@import './blue-theme.scss';
