
body {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
ul li {
  list-style: none;
}
@import './header.scss';
@import './service.scss';
@import './icons.scss';
@import './slider.scss';
@import './blue-theme.scss';
