#service {
  @media (min-width: 300px) and (max-width: 991px) and (width: 1024px) {
		width: 106%;
	}
  .container-fluid {
    padding: 8% 14%;
    .left{
      h1{
        width: 20%;
        color: rgb(255, 255, 255) !important;
        font-weight: bolder;
        font-size: 50px !important;
      }
      .line {
        width: 87%;
        margin-left: 0px;
        height: 5px;
        margin-top: -10px;
        background-color:rgb(255, 255, 255) !important;
        border-color:rgb(255, 255, 255) !important;
        @media only screen and (min-width: 300px) and (max-width: 991px) {
          width: 38%;
        }
      }
    }
    .feture-div .row .feture {
      height: 50%;
      margin-top: 32px;
      .feture-icon {
        padding-right: 19%;
        padding-left: 6%;
        padding-top: 11%;
        padding-bottom: 9%;
        border: 2px solid white;
        border-radius: 50%;
        width: 14%;
        height: 100%;
        float: left;
        @media only screen and (min-width: 300px) and (max-width: 991px) {
          width: 82px;
          height: 79px;
          padding: 20px 20px;
          margin-top: 20px;
        }
      }
      .feture-desc  {
        color:rgb(255, 255, 255) !important;
        margin-left: 93px;
        @media only screen and (min-width: 300px) and (max-width: 991px) {
          margin-top: 34px;
        }
        p {
          font-size: 13px !important;
        }
        h4 {
          color: #fff !important;
        }
        h4:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
