#workIcon {
  @media (min-width: 300px) and (max-width: 991px) and (width: 1024px) {
		width: 106%;
	}
  background-color: #666666;
  .container-fluid {
    padding: 5% 0%;
  }
  .work-icon {
    margin-top: 50px;
    margin-bottom: 50px;
    h1 {
      color: rgb(255, 255, 255);
      font-size: 80px;
      margin: 5% 0%;
    }
    h6 {
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
  }
}
